spring:
  profiles:
    active: prod
    default: prod
  datasource:
    url: jdbc:mysql://localhost:3307/{project_name}?serverTimezone=Asia/Seoul
    username: wanted
    password: wanted
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    generate-ddl: true
    properties:
      hibernate:
        format_sql: true
        show_sql: true
#  sql:
#    init:
#      mode: always
#      data-locations: classpath:db/data.sql
  config:
    import:
      - private/application-private.yml
      - redis.yml
      - sgg-csv-config.yml
      - springdoc-config.yml

logging:
  level:
    org.springframework.jdbc.core: info

security:
  jwt:
    secret-key:
    expire-period: 3600000
