springdoc:
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  api-docs:
    path: /api-docs
  swagger-ui:
    disable-swagger-default-url: true
    path: /swagger-ui
    try-it-out-enabled: true
    display-request-duration: true
  paths-to-match:
    - /api/**
